.body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	box-sizing: border-box;
	background-color: #2980b9;
}
.container {
	display: flex;
	justify-content: space-around;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.box {
	position: relative;
	width: 240px;
	height: auto;
	z-index: 100;
}
.box__img {
	position: absolute;
	z-index: 10;
	display: block;
	box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.4);
}
	.box:hover .box__inner {
		transform: translateX(-50%) scale(1);
	}
.box__inner {
	position: absolute;
	z-index: 8;
	top: 50px;
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 280px;
	min-height: 535px;
	background-color: #ffffff;
	border-radius: 5px;
	transform: translateX(-50%) scale(0);
	transform-origin: center top;
	overflow: hidden;
	box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.4);
-webkit-transition: all 500ms cubic-bezier(0.550, 0.085, 0.520, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.550, 0.085, 0.520, 1.325);
   -moz-transition: all 500ms cubic-bezier(0.550, 0.085, 0.520, 1.325);
     -o-transition: all 500ms cubic-bezier(0.550, 0.085, 0.520, 1.325);
        transition: all 500ms cubic-bezier(0.550, 0.085, 0.520, 1.325); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.520, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.520, 1.325);
   -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.520, 1.325);
     -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.520, 1.325);
        transition-timing-function: cubic-bezier(0.550, 0.085, 0.520, 1.325); /* custom */
}
.box__heading {
	margin: 0;
	color: #333333;
	text-transform: uppercase;
}
.box__title {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #a4a4a4;
}
.green__price {
	color: #2bcd71;
	font-size: 28px;
	font-weight: 500;
}
.gray__price {
	margin-bottom: 20px;
	font-weight: 500;
	color: #a4a4a4;
	text-decoration: line-through;
}
.box__buy {
	display: block;
	width: 100%;
	padding: 15px 0;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #333333;
	transition: background-color 0.3s ease;
}
	.box__buy:hover {
		background-color: #2bcd71;
	}